body{
    background-image: url("/images/birthday.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p{
    text-align: center;
    font-family: arial;
}